header {
  background-color: #0e0e0e;

  .header_container {
    max-width: 1440px;
    height: 100px;
    margin: 0 auto;

    display: flex;
    justify-content: center;

    .header_content {
      cursor: default;
      max-width: 1110px;
      width: 100%;
      background-color: #0e0e0e;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .header_ul {
        cursor: pointer;
        margin-left: -60px;
        display: flex;
        flex-direction: row;

        .header_li {
          margin-right: 10px;
          font-size: 25px;
          font-weight: 700;
          font-family: Arial, Helvetica, sans-serif;
          transition: all 0.2s linear;

          .header_ahref {
            color: white;
          }
        }

        .header_li:hover {
          color: #d87d4a;
        }
        .logo {
          .header_zhref {
            cursor: default;
          }
        }
        .header_ahref {
          font-size: 20px;
          margin-left: 40px;
          transition: all 0.2s linear;
        }

        .header_ahref:hover {
          color: #d87d4a !important;
        }
      }
    }
  }
  .underline {
    max-width: 1110px;
    width: 100%;
    background-color: #979797;
    height: 1px;
    margin: 0 auto;
    margin-top: 15px;
  }
}
