.timer {
  max-width: 1110px;
  height: 351px;
  margin: 0 auto;
  margin-top: 120px;
  display: flex;
  flex-direction: column;

  margin-bottom: 120px;
  .timerTitle {
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 48px;
  }
  .timerContainer {
    max-width: 1100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .timerDiv {
      background-color: #101010;
      width: 252px;
      height: 199px;
      border-radius: 20px;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .time {
        font-size: 64px;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
      }

      .time2 {
        opacity: 0.5;
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 10px;
      }
    }
  }
}
