/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Work Sans", sans-serif;
  background-color: #f7f7f7;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  cursor: pointer;
}

@font-face {
  font-family: "Noto Sans Georgian";
  src: url("../../assets/fonts/NotoSansGeorgian-VariableFont_wdthwght.ttf");
}
body {
  font-family: "Noto Sans Georgian", sans-serif;
}

footer {
  width: 100%;
  background-color: #101010;
  height: 400px;
  margin-top: 1167px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
}
footer .footer_list {
  width: 100%;
  display: flex;
  flex-direction: row;
  color: white;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1110px;
  height: 25px;
  margin-top: 1167px;
}
footer .footer_list .Footer_logo {
  margin-top: 70px;
  width: 145px;
  height: 25px;
}
footer .footer_list .footer_ul {
  margin-top: 75px;
  display: flex;
  flex-direction: row;
  max-width: 1100px;
}
footer .footer_list .footer_ul li {
  margin-right: 35px;
  cursor: pointer;
  transition: all 0.2s linear;
  font-weight: 700;
  font-size: 18px;
}
footer .footer_list .footer_ul li:hover {
  color: orange;
}
footer .footer_list2 {
  color: white;
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  max-width: 1110px;
  margin: 0 auto;
  justify-content: space-between;
}
footer .footer_list2 .footer_par {
  line-height: 20px;
  margin-top: 125px;
  max-width: 540px;
  height: 100px;
  opacity: 0.5;
}
footer .footer_list2 .icons {
  margin: 140px 20px 0px 0px;
  display: flex;
  flex-direction: row;
}
footer .footer_list2 .icons svg {
  margin-right: 20px;
}
footer .footer_list2 .icons .icon1 .svg1 {
  width: 24px;
  cursor: pointer;
  height: 20px;
}
footer .footer_list2 .icons .icon1 .svg1 path {
  transition: 250ms;
}
footer .footer_list2 .icons .icon1:hover .svg1 .path1 {
  fill: orange;
  transition: 250ms;
}
footer .footer_list2 .icons .icon2 .svg2 {
  width: 24px;
  cursor: pointer;
  height: 20px;
}
footer .footer_list2 .icons .icon2 .svg2 path {
  transition: 250ms;
}
footer .footer_list2 .icons .icon2:hover .svg2 path {
  fill: orange;
  transition: 250ms;
}
footer .footer_list2 .icons .icon3 svg {
  width: 24px;
  cursor: pointer;
  height: 20px;
}
footer .footer_list2 .icons .icon3 svg path {
  transition: 250ms;
}
footer .footer_list2 .icons .icon3:hover svg path {
  fill: orange;
  transition: 250ms;
}
footer .footer_lastPar {
  color: white;
  opacity: 0.5;
  margin: 50px 0px 0px 0px;
  width: 300px;
}

header {
  background-color: #0e0e0e;
}
header .header_container {
  max-width: 1440px;
  height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
header .header_container .header_content {
  cursor: default;
  max-width: 1110px;
  width: 100%;
  background-color: #0e0e0e;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .header_container .header_content .burgermenu {
  width: 16px;
  height: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  display: none;
}
header .header_container .header_content .burgermenu .burger {
  width: 16px;
  height: 3px;
  background-color: white;
}
header .header_container .header_content .cart a .cartIcon {
  width: 24px;
  height: 20px;
}
header .header_container .header_content .cart a .cartIcon path {
  transition: 250ms;
}
header .header_container .header_content .cart a:hover .cartIcon path {
  fill: orange;
  transition: 250ms;
}
header .header_container .header_content .header_ul {
  cursor: pointer;
  margin-left: -60px;
  display: flex;
  flex-direction: row;
}
header .header_container .header_content .header_ul .header_li {
  margin-right: 10px;
  font-size: 25px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  transition: all 0.2s linear;
}
header .header_container .header_content .header_ul .header_li .header_ahref {
  color: white;
}
header .header_container .header_content .header_ul .header_li:hover {
  color: #d87d4a;
}
header .header_container .header_content .header_ul .logo .header_zhref {
  cursor: default;
}
header .header_container .header_content .header_ul .header_ahref {
  font-size: 20px;
  margin-left: 40px;
  transition: all 0.2s linear;
}
header .header_container .header_content .header_ul .header_ahref:hover {
  color: #d87d4a !important;
}
header .underline {
  max-width: 1110px;
  width: 100%;
  background-color: #979797;
  height: 1px;
  margin: 0 auto;
  margin-top: 15px;
}

.section1 {
  width: 100%;
  background-color: #0e0e0e;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  height: 600px;
  display: flex;
  flex-direction: row;
}
.section1 .sec1_part1 {
  margin-top: 0px;
  width: 398px;
  height: 346px;
}
.section1 .sec1_part1 .img_responsive {
  display: none;
}
.section1 .sec1_part1 .product {
  width: 199px;
  height: 19px;
  color: white;
  font-size: 18px;
  letter-spacing: 5px;
  margin-left: 5px;
}
.section1 .sec1_part1 .sec1_name {
  margin-left: 5px;
  width: 396px;
  height: 116px;
  color: white;
  letter-spacing: 5px;
  font-size: 46px;
  margin-top: 25px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}
.section1 .sec1_part1 .sec1_text {
  color: white;
  width: 349px;
  height: 75px;
  font-size: 15px;
  font-weight: 500;
  margin-top: 25px;
  margin-left: 5px;
}
.section1 .sec1_part1 .sec1_button {
  margin: 40px;
  background-color: #d87d4a;
  color: white;
  font-size: 17px;
  cursor: pointer;
  font-weight: 700;
  width: 160px;
  height: 48px;
  border: 0px;
  margin-left: 6px;
}
.section1 .sec1_img {
  margin-left: 135px;
  overflow: hidden;
  background-color: #0e0e0e;
  width: 440px;
  height: 356px;
  margin-top: 24px;
  opacity: 1;
}
.section1 .sec1_img .sec1_imgz {
  mix-blend-mode: lighten;
  opacity: 0.5;
  height: 400px;
}

.section2 {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  margin-top: 160px;
  max-width: 1110px;
  height: 284px;
  justify-content: space-between;
}
.section2 .r {
  width: 350px;
  height: 204px;
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.section2 .r .sec2_img {
  margin-top: -70px;
  margin-bottom: 36px;
}
.section2 .r .img1z {
  margin-bottom: 45px;
}
.section2 .r .img2z {
  margin-top: -60px;
  margin-bottom: 50px;
}
.section2 .r .textz {
  color: black;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
}
.section2 .r .shop {
  opacity: 0.5;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.2s linear;
}
.section2 .r .shop:hover {
  color: #d87d4a;
  opacity: 1;
}
.section2 .r .path {
  display: flex;
  flex-direction: row;
}
.section2 .r .path .Pointer {
  margin-left: 15px;
}

.section3 {
  width: 1110px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  margin-top: 110px;
}
.section3 .responsiveMan {
  display: none;
}
.section3 .titles {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 445px;
  margin-right: 120px;
  margin-top: 130px;
}
.section3 .titles .sec3_cont {
  width: 445px;
  height: 88px;
  margin-bottom: 32px;
}
.section3 .titles .sec3_cont .title1 {
  font-size: 40px;
  font-weight: 700;
}
.section3 .titles .sec3_cont .orangeTitle {
  color: #d87d4a;
}

@media (max-width: 1122px) and (min-width: 587px) {
  body header {
    width: 100%;
    margin: 0 auto;
  }
  body header .header_container .header_content {
    width: 900px;
    display: flex;
  }
  body header .header_container .header_content .navigation ul {
    display: none;
  }
  body header .header_container .header_content .burgermenu {
    cursor: pointer;
    display: flex;
  }
  body header .header_container .header_content .burgerandLogo {
    display: flex;
    flex-direction: row;
    width: 200px;
    justify-content: space-between;
  }
  body header .header_container .header_content .burgerandLogo .logo {
    margin-top: -5px;
  }
  body .section1 {
    z-index: 0;
    max-width: 1122px;
    background-color: #0e0e0e;
    position: relative;
    width: 100%;
  }
  body .section1 .sec1_part1 {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
  }
  body .section1 .sec1_part1 .content1 {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    z-index: 22;
  }
  body .section1 .sec1_part1 .img_responsive {
    position: absolute;
    margin: 0 auto;
    left: -23%;
    top: -40%;
    display: flex;
  }
  body .sec1_img {
    width: 100%;
    margin: 0 auto;
    display: none;
  }
  body .sec1_img .sec1_imgz {
    display: none;
    z-index: 2;
    right: 20%;
  }
  body .section2 {
    margin-top: 300px;
    display: flex;
    height: 700px;
    justify-content: space-between;
  }
  body .section2 .r {
    margin-right: 15px;
  }
  body .section3 {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    margin: 0 auto;
    justify-content: space-between;
    height: 600px;
  }
  body .section3 .titles {
    width: 100%;
    margin: 0 auto;
  }
  body .section3 .titles .sec3_cont {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    align-items: center;
  }
  body .section3 .titles .sec3_par {
    text-align: center;
    margin-top: 20px;
  }
  body .section3 .sec3_imgDiv {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  body .section3 .sec3_imgDiv .sec3_img {
    display: none;
  }
  body .section3 .sec3_imgDiv .responsiveMan {
    margin: 0 auto;
    display: flex;
    width: 100%;
    max-width: 600px;
  }
  body footer {
    margin: 0 auto;
    width: 100%;
  }
  body footer .footer_list {
    margin-left: 2%;
    width: 90%;
    display: flex;
    flex-direction: column;
  }
  body footer .footer_list .footer_ul {
    width: 50%;
    margin-top: 30px;
  }
  body footer .footer_list2 {
    margin-left: 2%;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
  }
  body footer .footer_list2 .icons {
    display: flex;
    width: 100%;
    justify-content: right;
  }
  body footer .footer_list2 .par10 {
    width: 100%;
  }
  body footer .footer_list2 .footer_par {
    width: 100%;
    max-width: 1000px;
  }
  body footer .footer_list2 .footer_lastPar {
    margin-bottom: -160px;
  }
}

body {
  overflow-x: hidden;
}
@media (max-width: 587px) {
  body header {
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 587px;
  }
  body header .header_container {
    width: 100%;
    margin: 0 auto;
  }
  body header .header_container .header_content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }
  body header .header_container .header_content .cart {
    margin-left: 50px;
    padding-right: 10px;
    justify-content: flex-end;
    width: 100%;
    max-width: 587px;
    position: absolute;
    left: 70%;
    width: 20px;
  }
  body header .header_container .header_content .burgerandLogo {
    width: 100%;
    justify-content: space-between;
    max-width: 350px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
  }
  body header .header_container .header_content .burgerandLogo .burgermenu {
    margin-right: 40px;
    display: flex;
    padding-left: 10px;
    margin-right: 40%;
  }
  body header .header_container .navigation {
    display: flex;
  }
  body header .header_container .navigation .header_ul {
    display: none;
  }
  body .section1 {
    width: 100%;
    margin: 0 auto;
  }
  body .section1 .sec1_img {
    display: none;
  }
  body .section1 .sec1_part1 {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
  }
  body .section1 .sec1_part1 .content1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    z-index: 1;
    margin: 0 auto;
    left: 50px;
    width: 100%;
    max-width: 450px;
  }
  body .section1 .sec1_part1 .content1 .product {
    align-items: center;
    align-self: center;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    max-width: 200px;
  }
  body .section1 .sec1_part1 .content1 .sec1_name {
    text-align: center;
    font-size: 28px;
    max-width: 300px;
    align-items: center;
    width: 100%;
  }
  body .section1 .sec1_part1 .content1 .sec1_text {
    margin-top: -20px;
    width: 250px;
    margin-bottom: 20px;
  }
  body .section1 .sec1_part1 .content1 .sec1_button {
    margin: 0 auto;
    width: 100%;
    max-width: 150px;
  }
  body .section1 .sec1_part1 .img_responsive {
    display: flex;
    width: 100%;
    max-width: 400px;
    z-index: 0;
    overflow: hidden;
    margin: -300px 0 auto;
    margin-left: 0%;
  }
  body .section2 {
    display: flex;
    flex-direction: column;
    height: 1000px;
  }
  body .section2 .div1 {
    position: relative;
    width: 100%;
    max-width: 587px;
  }
  body .section2 .div2 {
    width: 100%;
    max-width: 587px;
  }
  body .section2 .div3 {
    max-width: 587px;
    width: 100%;
  }
  body .section3 {
    margin: 0 auto;
    width: 100%;
    max-width: 450px;
    display: flex;
    flex-direction: column-reverse;
  }
  body .section3 .titles {
    width: 100%;
    max-width: 350px;
  }
  body .section3 .titles .sec3_cont {
    width: 100%;
    max-width: 450px;
    text-align: center;
    margin-bottom: 150px;
  }
  body .section3 .sec3_imgDiv {
    margin: 0 auto;
    width: 100%;
    max-width: 450px;
  }
  body .section3 .sec3_imgDiv .sec3_img {
    display: none;
  }
  body .section3 .sec3_imgDiv .responsiveMan {
    margin: 0 auto;
    display: flex;
    max-width: 350px;
    min-width: 200px;
    width: 100%;
  }
  body footer {
    margin-top: 500px;
    height: 700px;
  }
  body footer .footer_list {
    margin: 0 auto;
    max-width: 587px;
    width: 100%;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    margin-bottom: 150px;
    align-items: center;
  }
  body footer .footer_list .footer_ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body footer .footer_list .footer_ul li {
    margin-bottom: 20px;
  }
  body footer .footer_list2 {
    overflow: hidden;
    width: 100%;
    max-width: 450px;
  }
  body footer .footer_list2 .par10 {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: auto;
    margin-top: 100px;
  }
  body footer .footer_list2 .par10 .footer_par {
    margin-top: 100px;
  }
  body footer .footer_list2 .icons {
    top: 595%;
    left: 30%;
    width: 100%;
    max-width: 100px;
    display: flex;
    flex-direction: row;
    position: absolute;
    max-width: 50px;
    height: 50px;
  }
}

.slider {
  max-width: 1110px;
  height: 351px;
  margin: 0 auto;
  margin-top: 120px;
}

.timer {
  max-width: 1110px;
  height: 351px;
  margin: 0 auto;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  margin-bottom: 120px;
}
.timer .timerTitle {
  font-size: 48px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 48px;
}
.timer .timerContainer {
  max-width: 1100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.timer .timerContainer .timerDiv {
  background-color: #101010;
  width: 252px;
  height: 199px;
  border-radius: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.timer .timerContainer .timerDiv .time {
  font-size: 64px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.timer .timerContainer .timerDiv .time2 {
  opacity: 0.5;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
}/*# sourceMappingURL=global.css.map */